$black: #000000;
$white: #ffffff;
$lightBgColor: #f0f0f0;
$listTitleBlue: #337ab7;
$linkHoverColor: #337ab7;
$sysRed: #f35f43;
$grayText: #c5c5c5;
$placeholderGray: #999999;
$borderColor: #ebebeb;
$defaultTextColor: #666;
$textColor3: #333;
$textColor9: #999;
$warnRed: #f56c6c;
